@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bokor';
  src: url('./fonts/Bokor-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-black text-white;
  font-family: 'Silkscreen', sans-serif;
}